<div onclick="burger()" class="hamburger flexbox-column flexbox-sa">
<span></span>
<span></span>
<span></span>
</div>
<nav class="flexbox-sa ">
<%-head%>
<div class="nav-normal flexbox-sa">
<%normal.forEach((link)=>{%>
<a href='<%=link.href%>'><%=link.a%></a>
<%})%>
<%dropdown.forEach((link)=>{%>
<div class="dropdown">
<span class="flexbox-sa"><%=link.head%>
<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;"><path d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z"></path></svg>
</span>
<div class="flexbox-column">
<%link.links.forEach((rd)=>{%>
<a href='<%=rd.href%>'><%=rd.a%></a>
<%})%>
</div>
</div>
<%})%>
</div>
<div class="nav-imp flexbox">
<%imp.forEach((link)=>{%>
<a href='<%=link.href%>'><%=link.a%></a>
<%})%>
</div>

</nav>
<script>
function burger(){
document.querySelector('.hamburger').classList.toggle('hamburger-close');
document.querySelector('nav').classList.toggle('nav-open');
}
</script>


<!-- 

  <%-include('partials/navbar',{
		       head:'<h1>Ritish</h1>',
		       normal:[{a:'google',href:'http://www.google.com'},],
		       dropdown:[{head:'admin'
		       ,links:[{a:'google',href:'http://www.google.com'}]},],
		       imp:[{a:'google',href:'http://www.google.com'},]
  })%>

-->
